{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container radius8 shadow-lg p-3 mb-5 container jumbotron text-justify">
    <h1 class="display-4">Profile</h1>
    <hr class="my-3">
    <p class="lead text-capitalize">Username: <b>{{ user }}</b></p>
    <p class="lead">First name: <b>{{ employee.models.first_name }}</b></p>
    <p class="lead">Last name: <b>{{ user.last_name }}</b></p>
    <p class="lead">Email: <b>{{ user.email }}</b></p>
    <p class="lead">Phone: <b>{{ user.profile.phone }}</b></p>
    <p class="lead">Join date: <b>{{ user.date }}</b></p>
</div>
{% endblock %}